.letra{
    background-color: violet;
}

.red{color: red;}
.green{color: green;}

.container{
    height: 700px;
    width: 1025px;    
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}

.imagem{
    height: 466px;
    width: 400px;
    border-radius: 0px;
    display: flex;
    position: relative;
    top: 59px;
    left: 39px;
}

.botoes{
    width: 650px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
    margin: 0px auto;
}

.jogo{
    height: 580px;
    width: 559px;
    display: flex;
    position:relative;
    right:0px;
    top:0px;
    justify-content:space-around;
}

.botaoletra{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(77, 81, 152);
    border-radius: 10px;
    margin: 5px;
    display:flex;
    align-items: center;
    background-color: rgb(117, 154, 245);
    color:rgb(77, 81, 152);
    justify-content:center;
    font-family:sans-serif;
    font-weight: 600px;

}

.botão{
    height: 60px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    position:absolute;
    top:89px;
    right: 53px;
    background-color: rgb(58, 128, 0);
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
}

.palavra{
    height: 68px;
    width: auto;
    display: flex;
    position:relative;
    top:427px;
    font-family: Noto Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    font-family:sans-serif;
}

.palavra lu{
    display:flex;
    list-style-type: none;
}

.palavra li{
    margin:10px;
}


.topo{
    height: 600px;
    width: 1025;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.finalizado{
    background-color: rgb(83, 82, 82);
    color:whitesmoke;
}